*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
  height:100vh;
  width:100vw;
  background-color: var(--black-main);;
  --green-main:#39FF14;
  --green-primary:#008F11;
  --green-secondary:#003B00;
  --black-main: #000000;
  --pink-main:#DA14FF;
  --red-main:#ff073a;
  --yellow-main:#ccff15;
  
}
